"__pycache__/"
"*.pyc"
"docs/Makefile"
"docs/make.bat"
"docs/_build/"
".idea/*.*"

src/__pycache__/__init__.cpython-35.pyc
src/cryptogram_solver_ui/__pycache__/
.idea/codeStyleSettings.xml
Collections/
docs/_build/doctrees/addcollection.doctree
docs/_build/doctrees/addeditpuzzles.doctree
docs/_build/doctrees/solving.doctree
docs/_build/qthelp/_images/AddCollectionDialog.png
docs/_build/qthelp/_images/AddEditCollectionDialog.png
docs/_build/qthelp/_images/AddEditDialog.png
docs/_build/qthelp/_images/AddEditPuzzleDialog.png
docs/_build/qthelp/_images/addCollectionIcon.png
docs/_build/qthelp/_images/addCollectionSmall.png
docs/_build/qthelp/solving.html
